attrs==25.3.0
Automat==24.8.1
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
constantly==23.10.4
cryptography==37.0.4
cssselect==1.3.0
defusedxml==0.7.1
filelock==3.18.0
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
jmespath==1.0.1
lxml==5.3.1
numpy==2.2.4
packaging==24.2
pandas==2.2.3
parsel==1.10.0
path==17.1.0
pathlib2==2.3.7.post1
Protego==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyDispatcher==2.0.7
pyOpenSSL==22.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
queuelib==1.7.0
requests==2.32.3
requests-file==2.1.0
Scrapy==2.11.2
service-identity==24.2.0
setuptools==77.0.3
six==1.17.0
soupsieve==2.6
tldextract==5.1.3
Twisted==24.11.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
w3lib==2.3.1
zope.interface==7.2
